/* div {
  border:1px solid black;
} */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
/* Set a max width to the content*/
.App-header {
  display: flex;
  background-color: rgb(92,132,241);
  height: 125px;
  padding: 20px;
  color: black;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

#searchform > form > input[type="text"]:nth-child(1) {
  width: 300px;
}


.btn-sm {
  padding: 1px 1px;
  font-size: 15px;
  border-radius: 0px;
}

#searchform > form > input.btn-sm.btn-outline-primary:hover{
  background-color: red;
}

#history-log {
  align-self: flex-start;
}

h2 {
  font-family: 'Bungee Inline', cursive;
}

.App-body {
  padding: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* width of my newscard */
.newscard {
  /* width: 500px; */
}

.History-Body {
  display: flex;
  justify-content: center;
}

/* top row of bootstrap */
#root > div > div > div > div:nth-child(1) {
  border: 1px solid black;
  margin: 0px;
  height: 75px;
}

#root > div > div > div > div:nth-child(1) > div {
  color: red;
  border: 1px solid pink;
  height: 75px;
}


.twitter {
  padding-left: 15px;
}


.list-history {
  border: 0px 1px 1px 1px solid gray;
  padding-top: 5px;
  padding-left: 10px;
  width: 600px;
  background-color: white;
  box-shadow: 5px 4px 3px 0px rgba(12,12,12,0.18);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
