@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.App-header {
  justify-content: space-between;
  align-items: center;
  min-width: 1100px;
  height: 125px;
  padding: 20px;
  color: #fff;
  background-color: #f21d61; }

.App-body {
  padding: 0px; }

.flex {
  display: flex; }

.flex-column {
  display: flex;
  justify-content: center;
  flex: 1 550px;
  min-width: 550px; }

#twogle-logo {
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  color: #fff; }

#newsAPILogo {
  align-items: center;
  background-color: #f2d21d; }

#twitterLogo {
  align-items: center;
  background-color: #1da1F2; }

.twitter-results {
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#searchform > form > input[type="text"]:nth-child(1) {
  width: 300px;
  color: #000; }

#searchform > form > input.btn-sm.btn-outline-primary {
  color: #000; }
  #searchform > form > input.btn-sm.btn-outline-primary:hover {
    color: #fff;
    background-color: #f21d61; }

.btn-sm {
  padding: 1px 1px;
  font-size: 15px;
  border-radius: 0px; }

.History-header {
  background-color: #f21d61;
  height: 55px;
  padding: 20px; }

#history-column-container {
  padding: 10px; }

#history-title {
  color: #fff;
  font-size: 16px; }

#history-log {
  align-self: flex-start; }

/* left column of history page */
#History > div > div.col-md-3.col-xs-5 {
  font-size: 12px;
  color: #47485f; }

/* each history log */
.history-log {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #47485f; }

.headline-panel {
  margin-bottom: 0px; }

.flex-headline {
  display: flex;
  align-items: flex-start; }

.flex-headline img {
  width: 100px;
  padding-right: 10px; }

.search-date {
  color: gray; }

#about {
  padding-top: 20px;
  padding-left: 20px;
  width: 475px; }

#button {
  width: 275px;
  min-width: 275px; }

#logs {
  width: 1000px;
  min-width: 500px; }

.no-history {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 500px;
  style: bold;
  border: none;
  box-shadow: none; }

.list-history {
  border: 0px 1px 1px 1px solid gray;
  padding-top: 5px;
  padding-left: 10px;
  width: 600px;
  background-color: #fff;
  box-shadow: 5px 4px 3px 0px rgba(12, 12, 12, 0.18); }
